
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Krinal's Papers</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <style>
      .paper {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .paper-title {
        font-weight: bold;
      }
      .paper-auth {
        color: #666;
      }
      .paper-summary {
        margin-left: 0px;
      }
    </style>
  </head>
  <body>

    <div class="container">
        <div class="ctitle">Papers</div>
        <div>
            Krinal's reading 
        </div>
        
        <hr><br>

      <!-- paper -->
        <div class="paper">
                <div class="paper-title"><a href="">Paper 1</a>
                <span class="paper-auth">by authoor, YYYY</span></div>
                <div class="paper-summary">paper summary</div>
        </div><br>
            <div class="paper">
                <div class="paper-title"><a href="">Paper 2</a>
                <span class="paper-auth">by author, YYYY</span></div>
                <div class="paper-summary">paper summary goes here</div>
        </div>

    </div>

  </body>
</html>